<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ASP.NET MVC - Angular Boilerplate</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/vendor")
    @Styles.Render("~/Content/app")
</head>
<body>
    <div id="body">
        Body
    </div>

    <footer>
        <!-- You app's footer goes here -->
    </footer>

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
</body>
</html>