<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ASP.NET MVC - Angular Boilerplate</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/vendor")
    @Styles.Render("~/Content/app")
</head>
<body>
    <div id="body">
        <!-- Authentication example. -->
        <div ng-app="exampleApp" ng-controller="SessionsController as sessionsCtrl">
            <div ng-if="!sessionsCtrl.authenticated()">
                <div>
                    <label for="username" translate="user.username"></label>
                    <input type="text" name="username" id="username" ng-model="sessionsCtrl.user.username" />
                </div>
                <div>
                    <label for="password" translate="user.password"></label>
                    <input type="password" name="password" id="password" ng-model="sessionsCtrl.user.password" />
                </div>
                <div>
                    <button type="button" translate="submit" ng-click="sessionsCtrl.login()"></button>
                </div>
                <div ng-controller="LanguageController as langCtrl">
                    <em ng-show="langCtrl.current != 'es'" ng-click="langCtrl.changeLanguage('es')">ES</em><em ng-show="langCtrl.current != 'en'" ng-click="langCtrl.changeLanguage('en')">EN</em>
                </div>
            </div>
            <div ng-if="sessionsCtrl.authenticated()">
                <div ng-include="" src="'static/main.html'" ></div>
            </div>
        </div>
        <!-- /Authentication example. -->
    </div>

    <footer>
        <!-- You app's footer goes here -->
    </footer>

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
</body>
</html>